body {
	text-align: center;
}

header {
	font-size: 3em;
}

row {
	width: 100%;
	display: block;
}

.hidden {
	display: none;
}

.clickCat {
	border: 1px solid black;
	border-radius: 10px;
	margin: auto;
	width: 250px;
}


.clickCat > img {
	width: 200px;
	padding: 5px;
}

#catList {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#catHolder {
	width: 66%;
}

.catNameList {
	border: 1px solid black;
	border-radius: 10px;
	background-color: grey;
	margin: 10px;
	width: 20vw;
}